<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @bookmark.user_id %>
</p>

<p>
  <strong>Article:</strong>
  <%= @bookmark.article_id %>
</p>

<%= link_to 'Edit', edit_bookmark_path(@bookmark) %> |
<%= link_to 'Back', bookmarks_path %>
