
<div class="row">
	<% @articles.each_with_index do |article, i| %>
	  <div class = "col-6 row p-0">
	    <div class="col-6 image-square order-2 p-0" style="background-image: url(<%= url_for(article.image) %>)">
	    	<div class="cover-img p-0">
	    	</div>
	    </div>
	    <div class ="col-6 text-square <%= order(i) %> px-3 pb-3">
	    	<p class="text_orange"><%= @category.name %></p>
	    	<p><%= article.title %></p>
	    	<p><%= article.text %></p>
		</div>
	  </div>
	<% end %>
