
<ul class="middle d-flex align-items-center ">
    <li><%= link_to "HOME", categories_path, :class => "text_orange pr-2" %></li>
    <li><%= link_to "CREATE ARTICLE", new_article_path, :class => "pr-2 navbar-links" %></li>
    <li><%= link_to "BOOKMARKS", bookmarks_path, :class => "pr-2 navbar-links" %></li>
</ul>
<div class="right">
	<span>You are Logged In, <%= current_user.username%></span> |
    <%= link_to "SIGN OUT", destroy_user_session_path, method: :delete, :class => "navbar-links" %>
</div>